@font-face{
    font-family: "Inter";
    src: url(../Inter-VariableFont_slnt,wght.ttf);
}

body{
    /* font-family: Inter,"BIZ UDゴシック",sans-serif; */
    background-color: #f8fff8;
}

/* ヘッダー&メインビジュアル ***************************/
.mv-img {
    width: 100%;
    /* border: solid 1px #080; */
}

/* メインコンテンツ全体 ***************************************/
main {
    max-width: 800px;
    margin: 0 auto;
}

section{
    padding: 24px 0;
}

.section-title {
    text-align: center;
    color: #20a020;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 1px solid gray;
    padding: 10px 0px;
    padding-top: 20px;
    margin: 0px 150px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, .32);
}

.purchase{
    width: 416px;
    height: 96px;
    border: solid 2px #004000;
    border-radius: 48px;
    background-color: #A6F6A6;
    display: block;
    margin: 32px auto;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    -webkit-text-stroke: 2px #004000;
}

/* 食品アピール見出し① ***************************/
#appeal-1 > p{
    padding: 12px 48px 0;
    font-size: 20px;
}

/* 食品アピール見出し② ***************************************/
#appeal-2 > div{
    display: flex;
    justify-content: center;
}

.point{
    /* border: solid 1px #080; */
    width: 320px;
    padding: 12px 24px 0;
    font-size: 16px;
}
.point > h3{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding: .5em 0;
}
.point > img{
    width: 100%;
    display: block;
    margin: 0 auto;
}
.point > p{
    padding: 1em 0;
}

/* その他アピール見出し ***********************************/
#other-contents > div{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
#other-contents img{
    width: 320px;
    height: 100%;
    display: block;
}

.others{
    background-color: #C5F5C5;
    width: 320px;
    /* height: 240px; */
    font-size: 16px;
}
.others > h3{
    font-size: 24px;
    font-weight: bold;
    padding: .5em 16px;
}
.others > p{
    padding: 1em 16px;
}

/* フッター ***************************************/
footer {
    text-align: center;
    color: white;
    background-color: #383838;
    padding: 10px 0px;
}

small {
    font-size: 12px;
}

/*メディアクエリ*/
@media(max-width: 768px){
    #appeal-2, #other-contents{
        margin: 0 auto;
    }
    #appeal-2 > div, #other-contents > div{
        display: block;
        flex-direction: column;
    }
}